# Base de datos
DATABASE_URL="postgresql://didactic_user:didactic_password@postgres:5432/didactic_succotash"

# Next.js
NEXT_PUBLIC_API_URL="http://localhost:3000"
NEXTAUTH_SECRET="tu-secreto-super-seguro"
NEXTAUTH_URL="http://localhost:3000"

# Desarrollo
NODE_ENV="development"

# Postgress
POSTGRES_DB=didactic_succotash
POSTGRES_USER=didactic_user
POSTGRES_PASSWORD=didactic_password

# PGAdmin
PGADMIN_DEFAULT_EMAIL=admin@didactic.com
PGADMIN_DEFAULT_PASSWORD=admin123
